<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>media</key>
	<array>
		<string>bmp</string>
		<string>png</string>
		<string>jpg</string>
		<string>exif</string>
		<string>tiff</string>
		<string>tif</string>
		<string>gif</string>
		<string>ppm</string>
		<string>pgm</string>
		<string>webp</string>
		<string>heif</string>
		<string>bpg</string>
		<string>psd</string>
		<string>ecw</string>
		<string>fits</string>
		<string>img</string>
		<string>sgi</string>
		<string>svg</string>
		<string>psp</string>
		<string>mp4</string>
		<string>mkv</string>
		<string>avi</string>
		<string>flv</string>
		<string>wmv</string>
		<string>mov</string>
		<string>webm</string>
		<string>vob</string>
		<string>ogg</string>
		<string>ogv</string>
		<string>drc</string>
		<string>gifv</string>
		<string>mng</string>
		<string>qt</string>
		<string>yuv</string>
		<string>rm</string>
		<string>rmvb</string>
		<string>amv</string>
		<string>asf</string>
		<string>m4p</string>
		<string>mpg</string>
		<string>mp2</string>
		<string>mpeg</string>
		<string>mpe</string>
		<string>mpv</string>
		<string>mp2v</string>
		<string>m4v</string>
		<string>svi</string>
		<string>3gp</string>
		<string>3g2</string>
		<string>mxf</string>
		<string>roq</string>
		<string>nsv</string>
		<string>f4v</string>
		<string>f4p</string>
		<string>f4a</string>
		<string>f4b</string>
		<string>msv</string>
		<string>raw</string>
		<string>gsm</string>
		<string>m4p</string>
		<string>ra</string>
		<string>3gp</string>
		<string>vox</string>
		<string>wav</string>
		<string>tta</string>
		<string>aa</string>
		<string>8svx</string>
		<string>ape</string>
		<string>act</string>
		<string>dvf</string>
		<string>iklax</string>
		<string>mmf</string>
		<string>aiff</string>
		<string>ra</string>
		<string>rm</string>
		<string>aax</string>
		<string>dss</string>
		<string>wv</string>
		<string>ogg</string>
		<string>oga</string>
		<string>mogg</string>
		<string>opus</string>
		<string>mp3</string>
		<string>dct</string>
		<string>wma</string>
		<string>mpc</string>
		<string>flac</string>
		<string>webm</string>
		<string>ivs</string>
		<string>au</string>
		<string>m4b</string>
		<string>aac</string>
		<string>awb</string>
		<string>amr</string>
		<string>m4a</string>
		<string>sln</string>
	</array>
	<key>coding</key>
	<array>
		<string>env</string>
		<string>venv</string>
		<string>pyc</string>
		<string>class</string>
	</array>
</dict>
</plist>
