<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SoftwareUpdate</key>
	<string>Software Update</string>
	<key>iCloudPref</key>
	<string>iCloud</string>
	<key>Accounts</key>
	<string>Users &amp; Groups</string>
	<key>AppStore</key>
	<string>App Store</string>
	<key>Appearance</key>
	<string>General</string>
	<key>DateAndTime</key>
	<string>Date &amp; Time</string>
	<key>DesktopScreenEffectsPref</key>
	<string>Desktop &amp; Screen Saver</string>
	<key>DigiHubDiscs</key>
	<string>CDs &amp; DVDs</string>
	<key>EnergySaver</key>
	<string>Energy Saver</string>
	<key>Expose</key>
	<string>Mission Control</string>
	<key>FibreChannel</key>
	<string>Fibre Channel</string>
	<key>InternetAccounts</key>
	<string>Internet Accounts</string>
	<key>Localization</key>
	<string>Language &amp; Region</string>
	<key>ParentalControls</key>
	<string>Parental Controls</string>
	<key>PrintAndFax</key>
	<string>Printers &amp; Fax</string>
	<key>PrintAndScan</key>
	<string>Printers &amp; Scanners</string>
	<key>Security</key>
	<string>Security &amp; Privacy</string>
	<key>SharingPref</key>
	<string>Sharing</string>
	<key>Speech</key>
	<string>Siri</string>
	<key>StartupDisk</key>
	<string>Startup Disk</string>
	<key>TimeMachine</key>
	<string>Time Machine</string>
	<key>TouchID</key>
	<string>Touch ID</string>
	<key>UniversalAccessPref</key>
	<string>Accessibility</string>
	<key>Wallet</key>
	<string>Wallet &amp; Apple Pay</string>
	<key>System Preferences</key>
	<string>Settings</string>
</dict>
</plist>
