<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>path</key>
	<array>
		<string>~/Music/iTunes/Album Artwork</string>
	</array>
	<key>directory</key>
	<array>
		<string>bin</string>
		<string>lib</string>
		<string>locale</string>
		<string>locales</string>
		<string>log</string>
		<string>logs</string>
		<string>__pycache__</string>
		<string>venv</string>
		<string>cache</string>
	</array>
</dict>
</plist>
