<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>auto</key>
	<string>🖥</string>
	<key>uz</key>
	<string>🇺🇿</string>
	<key>fy</key>
	<string>🇳🇱</string>
	<key>fa</key>
	<string>🇮🇷</string>
	<key>mg</key>
	<string>🇲🇬</string>
	<key>de</key>
	<string>🇩🇪</string>
	<key>ig</key>
	<string>🇳🇬</string>
	<key>pl</key>
	<string>🇵🇱</string>
	<key>lt</key>
	<string>🇱🇹</string>
	<key>ro</key>
	<string>🇷🇴</string>
	<key>ko</key>
	<string>🇰🇷</string>
	<key>ky</key>
	<string>🇰🇬</string>
	<key>bn</key>
	<string>🇧🇩</string>
	<key>id</key>
	<string>🇮🇩</string>
	<key>be</key>
	<string>🇧🇾</string>
	<key>ta</key>
	<string>🇮🇳</string>
	<key>mn</key>
	<string>🇲🇳</string>
	<key>eu</key>
	<string>🇪🇸</string>
	<key>sk</key>
	<string>🇸🇰</string>
	<key>da</key>
	<string>🇩🇰</string>
	<key>gu</key>
	<string>🇮🇳</string>
	<key>lo</key>
	<string>🇱🇦</string>
	<key>gl</key>
	<string>🇪🇸</string>
	<key>vi</key>
	<string>🇻🇳</string>
	<key>el</key>
	<string>🇬🇷</string>
	<key>ml</key>
	<string>🇮🇳</string>
	<key>uk</key>
	<string>🇺🇦</string>
	<key>si</key>
	<string>🇱🇰</string>
	<key>pt</key>
	<string>🇵🇹</string>
	<key>mt</key>
	<string>🇲🇹</string>
	<key>it</key>
	<string>🇮🇹</string>
	<key>so</key>
	<string>🇸🇴</string>
	<key>hr</key>
	<string>🇭🇷</string>
	<key>lv</key>
	<string>🇱🇻</string>
	<key>bg</key>
	<string>🇧🇬</string>
	<key>tg</key>
	<string>🇹🇯</string>
	<key>te</key>
	<string>🇮🇳</string>
	<key>gd</key>
	<string>🇬🇧</string>
	<key>pa</key>
	<string>🇵🇰</string>
	<key>ha</key>
	<string>🇳🇪</string>
	<key>ur</key>
	<string>🇮🇳</string>
	<key>sr</key>
	<string>🇷🇸</string>
	<key>ps</key>
	<string>🇦🇫</string>
	<key>ne</key>
	<string>🇳🇵</string>
	<key>ca</key>
	<string>🇪🇸</string>
	<key>cs</key>
	<string>🇨🇿</string>
	<key>my</key>
	<string>🇲🇲</string>
	<key>sq</key>
	<string>🇦🇱</string>
	<key>am</key>
	<string>🇪🇹</string>
	<key>af</key>
	<string>🇳🇦</string>
	<key>et</key>
	<string>🇪🇪</string>
	<key>hu</key>
	<string>🇭🇺</string>
	<key>cy</key>
	<string>🏴󠁧󠁢󠁷󠁬󠁳󠁿</string>
	<key>ms</key>
	<string>🇲🇾</string>
	<key>ru</key>
	<string>🇷🇺</string>
	<key>lb</key>
	<string>🇱🇺</string>
	<key>zu</key>
	<string>🇿🇦</string>
	<key>th</key>
	<string>🇹🇭</string>
	<key>bs</key>
	<string>🇧🇦</string>
	<key>sw</key>
	<string>🇨🇩</string>
	<key>sn</key>
	<string>🇿🇼</string>
	<key>hy</key>
	<string>🇦🇲</string>
	<key>sv</key>
	<string>🇦🇽</string>
	<key>ga</key>
	<string>🇮🇪</string>
	<key>mk</key>
	<string>🇲🇰</string>
	<key>mr</key>
	<string>🇮🇳</string>
	<key>is</key>
	<string>🇮🇸</string>
	<key>haw</key>
	<string>🇺🇸</string>
	<key>yo</key>
	<string>🇳🇬</string>
	<key>en</key>
	<string>🇬🇧</string>
	<key>fi</key>
	<string>🇫🇮</string>
	<key>es</key>
	<string>🇪🇦</string>
	<key>sl</key>
	<string>🇸🇮</string>
	<key>ka</key>
	<string>🇬🇪</string>
	<key>km</key>
	<string>🇰🇭</string>
	<key>tr</key>
	<string>🇹🇷</string>
	<key>ja</key>
	<string>🇯🇵</string>
	<key>nl</key>
	<string>🇳🇱</string>
	<key>kn</key>
	<string>🇮🇳</string>
	<key>yi</key>
	<string>✡️</string>
	<key>az</key>
	<string>🇦🇿</string>
	<key>hi</key>
	<string>🇮🇳</string>
	<key>ar</key>
	<string>🇪🇬</string>
	<key>kk</key>
	<string>🇰🇿</string>
	<key>fr</key>
	<string>🇲🇫</string>
	<key>zh</key>
	<string>🇨🇳</string>
	<key>zh-CN</key>
	<string>🇨🇳</string>
	<key>zh-TW</key>
	<string>🇹🇼</string>
	<key>ceb</key>
	<string>🇵🇭</string>
	<key>co</key>
	<string>🏳</string>
	<key>eo</key>
	<string>🏳</string>
	<key>ht</key>
	<string>🇭🇹</string>
	<key>iw</key>
	<string>🇮🇱</string>
	<key>hmn</key>
	<string>🏳</string>
	<key>jw</key>
	<string>🇮🇩</string>
	<key>ku</key>
	<string>🇮🇷</string>
	<key>la</key>
	<string>✝️</string>
	<key>mi</key>
	<string>🇳🇿</string>
	<key>no</key>
	<string>🇳🇴</string>
	<key>ny</key>
	<string>🇲🇼</string>
	<key>sm</key>
	<string>🇼🇸</string>
	<key>st</key>
	<string>🇿🇦</string>
	<key>sd</key>
	<string>🇮🇳</string>
	<key>su</key>
	<string>🇮🇩</string>
	<key>tl</key>
	<string>🇵🇭</string>
	<key>xh</key>
	<string>🇿🇦</string>
</dict>
</plist>
