<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Services</key>
	<dict>
		<key>GoogleTranslateService</key>
		<dict>
			<key>template</key>
			<string>https://translate.google.ca/#view=home&amp;op=translate&amp;sl=%@&amp;tl=%@&amp;text=%@</string>
		</dict>
		<key>GoogleTranslateAutoService</key>
		<dict>
			<key>template</key>
			<string>https://translate.google.ca/#view=home&amp;op=translate&amp;sl=%@&amp;tl=%@&amp;text=%@</string>
		</dict>
		<key>GoogleMapService</key>
		<dict>
			<key>suggestionTemplate</key>
			<string>GoogleMap</string>
			<key>template</key>
			<string>https://maps.google.ca/?q=%@</string>
		</dict>
		<key>GoogleSearch</key>
		<dict>
			<key>suggestionTemplate</key>
			<string>Google</string>
			<key>template</key>
			<string>https://google.ca/search?q=%@</string>
		</dict>
		<key>GoogleImageSearch</key>
		<dict>
			<key>suggestionTemplate</key>
			<string>Google</string>
			<key>template</key>
			<string>https://google.ca/search?q=%@&amp;tbm=isch</string>
		</dict>
		<key>AmazonSearch</key>
		<dict>
			<key>suggestionTemplate</key>
			<string>Amazon</string>
			<key>template</key>
			<string>https://www.amazon.ca/s/?field-keywords=%@</string>
		</dict>
	</dict>
</dict>
</plist>
